<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Swag Labs Test Automation Test Suite">

    <listeners>
        <listener class-name="ExtentReportListener.ExtentReportListener"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/Divya/IdeaProjects/SeleniumMaven">
        <classes>
            <class name="testcase.LoginPageTest">
                <methods><include name="loginPageTitleTest"/>
                    <include name="loginTest"/>
                </methods></class>
            <class name="testcase.HomePageTest">
                <methods><include name="verifyHomePageTitleTest"/>
                    <include name="verifyCorrectUserNameTest"/>
                    <include name="verifyClickOnProductLinkTest"/>
                </methods></class>
        </classes>
    </test>
</suite>

